body{
    background-color: #f0f4f8;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.template {
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 50%;
    height: 60vh;
    
}

.bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#toggleImage {
    width: 100%;
    height: 50vh;
    border-radius: 10px;
}

.button-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

#symbolStyle {
    font-size: 40px;
    color: #cbd2d9;
    cursor: pointer;
}
#symbolStyle:active{
    transform: scale(0.90);
}

#buttonStyle {
    height: 45px;
    width: 120px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color:#cbd2d9; 
    cursor: pointer;
}
#buttonStyle:active{
    transform: scale(0.95);
}

/*Responsive Design*/
@media (min-width:481px) and (max-width:768px){
    .template{
        height: 50vh;
        width: 60%;
    }
    .bg-container{
        height: 50vh;
    }
}
@media (min-width:301px) and (max-width:480px){
    .template{
        height: 40vh;
        width: 75%;
    }
    .bg-container{
        height: 40vh;
    }
}
@media (min-width:200px) and (max-width:300px){
    .template{
        height: 40vh;
        width: 75%;
    }
    .bg-container{
        height: 40vh;
    }
    #symbolStyle{
        font-size: 27px;
    }
    #buttonStyle{
        height: 25px;
        width: 80px;
        font-size: 85%;
    }
}
@media (max-width:200px){
    .template{
        height: 30vh;
        width: 75%;
    }
    .bg-container{
        height: 30vh;
    }
    #symbolStyle{
        font-size: 20px;
    }
    #buttonStyle{
        height: 20px;
        width: 60px;
        font-size: 85%;
    }   
}