body{
    background-color: #f0f4f8;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.template {
    background: rgb(229, 224, 224);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 0px;
    text-align: center;
    width: 60vh;
}
.bg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{

    font-family: "Roboto";
    color: rgb(30, 28, 28);
}
.para{
    margin: 0px;
}